.navbar {
    background-color: #0C0C0C; /* dark background color */
    color: white; /* text color */
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin-right: 20px;
  }
  
  .nav-links li {
    margin-right: 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  .button {
    background-color: #2720b2; /* red-pinkish button color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #161264; /* darker shade of red-pinkish on hover */
  }
  